<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvadzDCAqk1xZUt3rLYe06WFDYocleoeU</string>
	<key>GCM_SENDER_ID</key>
	<string>219516769543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stevenyuser.FoodHackathon-iOS</string>
	<key>PROJECT_ID</key>
	<string>foodhackathon-9c575</string>
	<key>STORAGE_BUCKET</key>
	<string>foodhackathon-9c575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219516769543:ios:adfa2b4d43f2c0b9c921a2</string>
</dict>
</plist>